<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/fazopix_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fazopix_launch_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LojaFazOPix"
        tools:targetApi="31">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".telaLogin"
            android:exported="true"
        />
        <activity android:name=".telaCompra"
            android:exported="true"
        />
        <activity android:name=".telaCarrinho"
            android:exported="true"
        />
        <activity android:name=".telaPerfil"
            android:exported="true"
        />
        <activity android:name=".resultados"
            android:exported="true"
        />
        <activity android:name=".telaFin"
            android:exported="true"
        />
        <activity android:name=".thanks"
            android:exported="true"
        />
    </application>

</manifest>